<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <main>
        <section class="product-details">
            <h2><%= title %></h2>
            <% if (product) { %>
                <div class="product-detail">
                    <img src="<%= product.imagen %>" alt="<%= product.nombre %>">
                    <h3><%= product.nombre %></h3>
                    <p><%= product.detalle %></p>
                    <p>Precio: <%= product.precio %></p>
                    <p>Stock disponible: <%= product.stock %></p>
                    <!-- Agrega más detalles del producto si es necesario -->
                </div>
            <% } else { %>
                <p>Producto no encontrado.</p>
            <% } %>
        </section>

        <%- include('partials/footer') %>
    </main>
</body>

</html>
